<section id="menu">
    <h2 class="fontEconomicaBold">OUR MENU</h2>
    <div class="our-menu-content">
        <div class="dish-container">
            <img src="./assets/img/r1.png" alt="">
            <div class="dish-description">
                <h3>Tonkasu Ramen</h3>
                <table class="fontRaleway">
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95 €</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95 €</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95 €</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="dish-container">
            <img src="./assets/img/r2.png" alt="">
            <div class="dish-description" style="order: -1">
                <h3>Spicy Miso Ramen</h3>
                <table class="fontRaleway">
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95 €</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95 €</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95 €</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="dish-container">
            <img src="./assets/img/r3.png" alt="">
            <div class="dish-description">
                <h3>Shio Ramen</h3>
                <table class="fontRaleway">
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95 €</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95 €</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95 €</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>