<section>
    <h2 class="fontEconomicaBold">HOW TO ORDER</h2>
    <div class="how-to-order-content">
        <div class="how-to-order-child">
            <img src="./assets/img/bowl_icon.jpg" alt="">
            <p>Pick Your <br>Noodle</p>
        </div>
        <div class="how-to-order-child">
            <img src="./assets/img/broth_icon.png" alt="">
            <p>Pick Your <br>Noodle</p>
        </div>
        <div class="how-to-order-child">
            <img src="./assets/img/eggs_icon.jpg" alt="">
            <p>Pick Your <br>Noodle</p>
        </div>
    </div>
</section>